{% extends 'base.html' %}
{% block title %}Czy na pewno chcesz usunąć pracownika{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Czy na pewno chcesz usunąć ten pracownika {{ employee.name }} {{ employee.surname }}?</h1>
        <form method="post">
            {% csrf_token %}
            <button class="btn">Tak, na pewno</button>
            <a class="btn" href="{% url 'users:employees_list' %}">Nie, wróć do listy pracowników</a>
        </form>
    </div>
</div>
{% endblock %}
