{% extends 'base.html' %}
{% block title %}Edytuj pracownika{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Edycja pracownika</h1>
    </div>
</div>
<div class="widget-container-clos-2">
    <div class="widget white-bg box-shadow">
        <form method="post" class="form">
            {{ form }}
            {% csrf_token %}
            <button class="btn">Zmień</button>
            <a class="btn" href="{% url 'users:password_change' employee.pk%}">Zmień hasło</a>
        </form>
    </div>
</div>
{% endblock %}
