{% extends 'base.html' %}
{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Pracwonicy</h1>
    </div>
</div>

<div class="widget-container">
    <div class="widget white-bg box-shadow">

    <table class="table">
            <tr>
                <th>Login</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Data przyjecia</th>
                <th>Salon</th>

            </tr>
            {% for employee in employee_list %}
            <tr>
                <td>{{ employee.username }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.surname }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.date_joined }}</td>
                <td>{{ employee.salon }}</td>
                {% if user.is_superuser %}
                <td><a href="{% url 'users:delete' employee.pk %}"><button class="btn">Usuń</button></a></td>
                <td><a href="{% url 'users:update' employee.pk %}"><button class="btn">Edytuj</button></a></td>
                {% endif %}
            {% endfor %}
            </tr>
    </table>
    </div>
</div>
    {% if user.is_superuser %}
    <button class="btn"><a style="color: white" href="{% url 'users:register' %}">Dodaj użytkownika</a></button>
    {% endif %}
{% endblock content %}
