{% extends 'base.html' %}
{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Pracownicy</h1>
    </div>
</div>
<div class="widget-container">
    <div class="widget">
        {% if user.is_superuser %}
            <a class="btn" href="{% url 'users:register' %}">Dodaj użytkownika</a>
        {% endif %}
    </div>
</div>
<div class="widget-container">
    <div class="widget white-bg box-shadow">
    <div class="table-responsive-container">
    <table class="table table-text-align-center min-width-75">
    <tbody>
            <tr>
                <th>Login</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Data przyjęcia</th>
                <th>Salon</th>
                {% if user.is_superuser %}
                <th>Edycja</th>
                {% endif %}
            </tr>
            {% for employee in employee_list %}
            <tr>
                <td>{{ employee.username }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.surname }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.date_joined }}</td>
                <td>{{ employee.salon }}</td>
                {% if user.is_superuser %}
                    {% if employee.is_superuser %}
                        <td><a href="{% url 'users:update' employee.pk %}"><button class="btn" style="min-width: 50px">Edytuj</button></a></td>
                    {% else %}
                        <td><a href="{% url 'users:delete' employee.pk %}"><button class="btn" style="min-width: 50px">Usuń</button></a>
                        <a href="{% url 'users:update' employee.pk %}"><button class="btn" style="min-width: 50px">Edytuj</button></a></td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tr>
    </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock content %}
