{% extends 'base.html' %}
{% block title %}Dodawanie użytkownika{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Dodawanie pracownika</h1>
    </div>
</div>
<div class="widget-container-clos-2">
    <div class="widget white-bg box-shadow">
        <form method="post" class="form">
            {{ form }}
            {% csrf_token %}
            <button class="btn">Dodaj</button>
        </form>
    </div>
</div>
{% endblock %}
