{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="widget-container">
        <div class="widget white-bg box-shadow">
            <h1>Użytkownik {{ user.username }}</h1>
        </div>
    </div>
<div class="widget-container-clos-2">
        <div class="widget white-bg box-shadow">
        <h2>Nazwa użytkownika</h2>
        <p>{{ user.username }}</p>

        <h2>Imię</h2>
        <p>{{ user.name }}</p>

        <h2>Nazwisko</h2>
        <p>{{ user.surname }}</p>

        <h2>Adres email</h2>
        <p>{{ user.email }}</p>
    </div>
</div>
<div class="widget-container">
    <div class="widget">
        <a class="btn" href="{% url 'password_change' %}">Zmień hasło</a>
    </div>
</div>

{% endblock %}