{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="widget-container-clos-2">
    <div class="widget white-bg box-shadow">
        <div class="table-responsive-container">
            <table class="table>">
                <tbody>
                <tr>
                    <th>Użytkownik: </th>
                    <th>Imię: </th>
                    <th>Nazwisko: </th>
                    <th>Adres email: </th>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a class="button" href="{% url 'password_change' %}">Zmień hasło</a></p>
    </div>
</div>
{% endblock %}