{% extends 'base_prompt.html' %}
{% load static %}

{% block title %}Logowanie{% endblock %}


{% block content %}
    {% if form.errors %}
        <p>Nieprawidłowa nazwa użytkownika lub hasło</p>
        <p>Jeżeli nie pamiętasz hasła, możesz je <a href="{% url 'password_reset' %}">zresetować</a>.</p>
    {% endif %}
        <h1>Panel logowania Quickbook</h1>

        <form method="post" class="form">
            {{ form }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <button class="btn" type="submit" value="Zaloguj się">Zaloguj się</button>
        </form>
{% endblock %}
