{% extends 'base.html' %}
{% block title %}Logowanie{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Nieprawidłowa nazwa użytkownika lub hasło</p>
        <p>Jeżeli nie pamiętasz hasła, może je <a href="{% url 'password_reset' %}">zresetować</a>.</p>
    {% endif %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <form method="post">
            <table>{{ form }}</table>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="Zaloguj się" />
        </form>
    </div>
</div>
{% endblock %}
