{% extends 'base_prompt.html' %}
{% block title %}Wysłano potwierdzenie resetu hasła{% endblock %}

{% block content %}
<h1>Potwierdzenie zresetowania hasła zostało wysłane</h1>
<p>Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem powinna się pojawić na twoim koncie pocztowym.</p>
<p>W przypadku nieotrzymania wiadomości e-mail: upewnij się, czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.</p>
{% endblock %}