@import "variables";

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $colorA;
}