{% extends 'base.html' %}
{% load static %}

{% block title %}
    Kalendarz
{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <link rel="stylesheet" href="{% static 'styles/calendar.css' %}">
{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Kalendarz</h1>
    </div>
</div>

<div class="widget-container">
    <div class="widget">
        <a href="{% url 'cal:event_new' %}"><button class="btn">Nowe wydażenie</button></a>
    </div>
</div>

<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <div class="calendar" id="calendar" today="{{ calendar.today }}">
            <h2>{{ calendar.month_name }} {{ calendar.year }}</h2>
            <div>
                Miesiąc:
                <a href="{% url 'cal:calendar' %}?{{ prev_month }}"><button class="btn btn-calendar-week">&lsaquo;</button></a>
                <a href="{% url 'cal:calendar' %}?{{ next_month }}"><button class="btn btn-calendar-week">&rsaquo;</button></a>
                Tydzień: <span id="calendar-buttons"></span>
            </div>
            <div class="month">
                {% for week in calendar.weeks %}
                    <div class="week" week_num="{{ forloop.counter }}">
                        {% for day in week %}
                            <div
                                class="day {% if calendar.today == day.date %}today{% endif %}"
                                date="{{ day.date }}"
                            >
                                <div class="label"><b>{{ day.date }}</b> - {{ day.day_name }}</div>
                                {% for event in day.events %}
                                    <a class="event" href="{{ event.get_url }}">
                                        {{ event.start_time|date:"H:i" }}-{{ event.end_time|date:"H:i" }}<br>
                                        {{ event.title }}<br>
                                        {{ event.employee }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>

class Calendar{
    constructor(object_id) {
        this.calendar = document.getElementById(object_id)
        this.weeks = this.weeksList()
        this.week_intervals = this.weekIntervals()
        this.is_today_in_month = false
        this.buttons = []
        this.setupView()

    }
    weeksList(){
        return this.calendar.querySelectorAll("[week_num]")
    }
    hideWeeks(){
        this.weeks.forEach(week => {
            week.style.display = 'none'
        })
    }
    resetButtons(){
        this.buttons.forEach(button => {
            button.disabled = false
        })
    }
    toDate(date_string){
        const dateString = date_string;
        const dateParts = dateString.split('-');
        const dateObject = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]);

        return dateObject
    }
    weekIntervals(){
        let intervals = []
        this.weeks.forEach(week => {
            const days = [...week.getElementsByClassName('day')]
            intervals.push({
                element: week,
                start: this.toDate(days[0].getAttribute('date')),
                stop: this.toDate(days[days.length - 1].getAttribute('date'))
            })
        })
        return intervals
    }
    makeButtons(){
        let buttons = ''
        this.weeks.forEach((week, index) => {
            buttons += '<button class="btn btn-calendar-week week-counter" onclick="cal.showWeek(' + index + ')">' + (index + 1) + '</button>'
        })
        this.calendar.querySelector('[id="calendar-buttons"]').innerHTML = buttons
        this.buttons = [...this.calendar.getElementsByClassName('week-counter')]
    }
    showWeek(index){
        this.hideWeeks()
        this.resetButtons()
        this.activateWeek(index)
        this.deactivateButton(index)
    }
    activateWeek(index){
        const active_week = this.weeks[index]
        active_week.style.display = 'grid'
    }
    deactivateButton(index){
        const disabled_button = this.buttons[index]
        disabled_button.disabled = true
    }
    setupView(){
        this.hideWeeks()
        const today = this.toDate(this.calendar.getAttribute('today'))
        this.makeButtons()
        this.week_intervals.forEach((week, index) => {
            if (today >= week.start && today <= week.stop) {
                week.element.style.display = 'grid'
                this.deactivateButton(index)
                this.is_today_in_month = true
            }
        })
    }
}
cal = new Calendar('calendar')


</script>
{% endblock %}
