{% extends 'base.html' %}
{% load static %}

{% block title %}
    Kalendarz
{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/calendar.css' %}">
{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Kalendarz</h1>
    </div>
</div>

<div class="widget-container">
    <div class="widget">
        <a class="btn" href="{% url 'cal:event_new' %}">Nowe wydarzenie</a>
    </div>
</div>

<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <div class="calendar"
            id="calendar"
            today="{{ calendar.today }}"
            prev_month="{{ prev_month }}"
            next_month="{{ next_month }}"
        >
            <h2>{{ calendar.month_name }} {{ calendar.year }}</h2>
            <div class="calendar-menu">
                <div class="calendar-menu__widget">
                    <div class="calendar-menu__widget__element">
                        Miesiąc:
                        <button onclick="cal.prevMonth()" class="btn btn-calendar-week">&lsaquo;</button></a>
                        <a style="color: white" href="{% url 'cal:calendar' %}"><button class="btn btn-calendar-week">Teraz</button></a>
                        <button onclick="cal.nextMonth()" class="btn btn-calendar-week">&rsaquo;</button>
                    </div>
                    <div class="calendar-menu__widget_element">
                        Tydzień: <span id="calendar-buttons"></span>
                        <button onclick="cal.showWeek('all')" class="btn btn-calendar-week">Wszytkie</button>
                    </div>
                </div>

                <div class="form calendar-menu__widget">
                    <div class="calendar-menu__widget_element">
                        <select id="id_salon">
                        </select>
                    </div>
                    <div class="calendar-menu__widget_element">
                        <select id="id_employee">
                        </select>
                    </div>
                </div>
            </div>
            <div class="month">
                {% for week in calendar.weeks %}
                    <div class="week" week_num="{{ forloop.counter }}">
                        {% for day in week %}
                            <div
                                class="day {% if calendar.today == day.date %}today{% endif %}"
                                date="{{ day.date }}"
                            >
                                <div class="label"><b>{{ day.date }}</b> - {{ day.day_name }}</div>
                                {% for event in day.events %}
                                    <a class="event"
                                       href="{{ event.get_url }}"
                                       employee_id="{{ event.employee.id }}"
                                       salon_id="{{ event.salon.id }}"
                                    >
                                        {{ event.start_time|date:"H:i" }}-{{ event.end_time|date:"H:i" }}<br>
                                        {{ event.title }}<br>
                                        {% if event.employee == None %}
                                            <span>Brak pracownika!</span>
                                        {% else %}
                                            {{ event.employee }}
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
class Calendar{
    constructor(object_id) {
        this.calendar = document.getElementById(object_id)
        this.weeks = this.weeksList()
        this.events = this.eventsList()
        this.week_intervals = this.weekIntervals()
        this.buttons = []
        this.setupView()
    }
    setURIParam(key, value){
        const urlParams = new URLSearchParams(window.location.search)
        urlParams.set('main_position', document.getElementById('main').scrollTop)
        urlParams.set('salon_id', this.calendar.querySelector('[id="id_salon"]').value)

        const employee_id = this.calendar.querySelector('[id="id_employee"]').value
        console.log(employee_id)
        if (employee_id === ''){
            urlParams.set('employee_id', 'none')
        } else {
            urlParams.set('employee_id', employee_id)
        }
        urlParams.set(key, value);
        window.location.search = urlParams;
    }
    getURIParam(key){
        const urlParams = new URLSearchParams(window.location.search)
        return urlParams.get(key);
    }
    prevMonth(){
        const prev_month = this.calendar.getAttribute('prev_month')
        this.setURIParam('month', prev_month)
    }
    nextMonth(){
        const next_month = this.calendar.getAttribute('next_month')
        this.setURIParam('month', next_month)
    }
    weeksList(){
        return this.calendar.querySelectorAll("[week_num]")
    }
    hideWeeks(){
        this.weeks.forEach(week => {
            week.style.display = 'none'
        })
    }
    weekIntervals(){
        let intervals = []
        this.weeks.forEach(week => {
            const days = [...week.getElementsByClassName('day')]
            intervals.push({
                element: week,
                start: this.toDate(days[0].getAttribute('date')),
                stop: this.toDate(days[days.length - 1].getAttribute('date'))
            })
        })
        return intervals
    }
    showWeek(index){
        this.setURIParam('week', index)
    }
    activateWeek(index){
        if (index === 'all'){
            this.weeks.forEach(week => {
                week.style.display = 'grid'
            })
        } else if (index === 'last'){
            this.weeks[this.weeks.length -1].style.display = 'grid'
            this.deactivateButton('last')
        } else {
            this.weeks[index].style.display = 'grid'
            this.deactivateButton(index)
        }
    }
    setupActiveWeek(){
        this.hideWeeks()
        this.resetButtons()
        const week_index = this.getURIParam('week')

        if (week_index === null){
            const today = this.toDate(this.calendar.getAttribute('today'))
            let is_today_in_month = false
            this.week_intervals.forEach((week, index) => {
                if (today >= week.start && today <= week.stop) {
                    is_today_in_month = true
                    this.setURIParam('week', index)
                }
            })
            if (is_today_in_month === false){
                this.setURIParam('week', 0)
            } else {
                this.setURIParam('week', index)
            }
        } else {
            this.activateWeek(week_index)
        }

        const main_position = parseInt(this.getURIParam('main_position'))
        if (main_position > 0){
            document.getElementById('main').scrollTop = main_position
        }

    }
    eventsList(){
        return this.calendar.querySelectorAll('[class="event"]')
    }
    hideEvents(){
        this.events.forEach(event => {
            event.style.display = 'none'
        })
    }
    showEvents(){
        this.hideEvents()
        const salon_id = this.calendar.querySelector('[id="id_salon"]').value
        const employee_id = this.calendar.querySelector('[id="id_employee"]').value

        this.events.forEach(event => {
            const event_salon_id = event.getAttribute('salon_id')
            const event_employee_id = event.getAttribute('employee_id')

            if (event_salon_id === salon_id){
                if (salon_id === ''){
                    event.style.display = 'block'
                } else {
                    if (event_employee_id === employee_id) {
                        event.style.display = 'block'
                    }
                }
            }
        })
    }
    makeButtons(){
        let buttons = ''
        this.weeks.forEach((week, index) => {
            buttons += '<button class="btn btn-calendar-week week-counter" onclick="cal.showWeek(' + index + ')">' + (index + 1) + '</button>'
        })
        this.calendar.querySelector('[id="calendar-buttons"]').innerHTML = buttons
        this.buttons = [...this.calendar.getElementsByClassName('week-counter')]
    }
    resetButtons(){
        this.buttons.forEach(button => {
            button.disabled = false
        })
    }
    deactivateButton(index){
        if (index === 'last') {
            const disabled_button = this.buttons[this.buttons.length - 1]
            disabled_button.disabled = true
        } else {
            const disabled_button = this.buttons[index]
            disabled_button.disabled = true
        }
    }
    toDate(date_string){
        const dateString = date_string;
        const dateParts = dateString.split('-');
        const dateObject = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]);
        return dateObject
    }
    setupView(){
        this.hideWeeks()
        this.hideEvents()
        this.makeButtons()
        this.setupActiveWeek()
    }
}
cal = new Calendar('calendar')


function getemployees() {
    const salonId = $('#id_salon').val()
    const employeeSelect = $('#id_employee')
    if (salonId && salonId !== 'none') {
        $.ajax({
            url: '/get_employees/',
            data: {
                'salon_id': salonId
            },
            dataType: 'json',
            success: function (data) {
                employeeSelect.empty()
                $.each(data, function (key, value) {
                    employeeSelect.append($('<option></option>').attr('value', value.id).text(value.name))
                });
                employeeSelect.append($('<option></option>').attr('value', '').text('brak'))
                cal.showEvents()
            }
        });
    }
}

$(document).ready(function () {
    const salonsSelect = $('#id_salon');
    $.ajax({
        url:'/get_salons/',
        data: {},
        dataType: 'json',
        success: function (data) {
            salonsSelect.empty()
            $.each(data, function (key, value) {
                salonsSelect.append($('<option></option>').attr('value', value.id).text(value.name))
            });
            getemployees()
        }
    })


    salonsSelect.change(function () {
        getemployees()
        cal.showEvents()
    });

    $('#id_employee').change(function () {
        cal.showEvents()
    })
});
</script>
{% endblock %}
