{% extends 'cal/base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Calendar </a>
</div>

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
  </table>
</form>

        <script>
            $(document).ready(function() {
              $('#id_salon').change(function() {
                var salonId = $(this).val();
                if (salonId) {
                  $.ajax({
                    url: '/cal/get_employees/',
                    data: {
                      'salon_id': salonId
                    },
                    dataType: 'json',
                    success: function(data) {
                      var employeeSelect = $('#id_employee');
                      employeeSelect.empty();
                      $.each(data, function(key, value) {
                        employeeSelect.append($('<option></option>').attr('value', value.id).text(value.name));
                      });
                    }
                  });
                }
              });
            });

        </script>


{% endblock content %}