{% extends 'base.html' %}

{% block title %}
Event
{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow"><h1>Wydarzenie</h1></div>
</div>

<div class="widget-container">
    <div class="widget">
        <a class="btn btn-info left" href="{% url 'cal:calendar' %}"><button class="btn">Powrót</button></a>
    </div>
</div>

<div class="widget-container-clos-2">
    <div class="widget white-bg">
        <form id="event-form" method="post" class="form">
          {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn"> Zapisz </button>
        </form>
    </div>
    <div class="widget white-bg">
        <div class="widget white-bg box-shadow">
            <div class="table-responsive-container">
            <table class="table" id="event-list">
            </table>
                </div>
        </div>

    </div>

</div>
        <script>
            $(document).ready(function() {
                $('#id_day').change(function() {
                    var selected_day = $(this).val();
                    $.ajax({
                        url: '/get_events_at_day/',
                        data: {
                            'day': selected_day
                        },
                        dataType: 'json',
                        success: function(data) {
                            var event_list = $('#event-list');
                            event_list.empty();
                            if (data) {
                                event_list.html("<th>Tytuł</th><th>Rozpoczęcie</th><th>Zakończenie</th><th>Salon</th><th>Pracownik</th>");
                            } else {
                                event_list.empty();
                            }
                            $.each(data, function(index, event) {
                                var event_html = '<tr>' + '<td>' + event.title +'</td>' + '<td>' + event.start_time + '</td>' + '<td>' + event.end_time + '</td>' + '<td>' + event.salon + '</td>' +  '<td>' + event.employee + '</td>' + '</tr>';
                                event_list.append(event_html);
                            });
                        }
                    });
                });
              $('#id_salon').change(function() {
                var salonId = $(this).val();
                if (salonId) {
                  $.ajax({
                    url: '/get_employees/',
                    data: {
                      'salon_id': salonId
                    },
                    dataType: 'json',
                    success: function(data) {
                      var employeeSelect = $('#id_employee');
                      employeeSelect.empty();
                      $.each(data, function(key, value) {
                        employeeSelect.append($('<option></option>').attr('value', value.id).text(value.name));
                      });
                    }
                  });
                }
              });
            });
        </script>






{#$(document).ready(function() {#}
{#    var event_list = $('#event-list');#}
{##}
{#    $('#id_day').change(function() {#}
{#        var selected_day = $(this).val();#}
{#        $.ajax({#}
{#            url: '/get_events_at_day/',#}
{#            data: {#}
{#                'day': selected_day#}
{#            },#}
{#            dataType: 'json',#}
{#            success: function(data) {#}
{#                                      var employeeSelect = $('#id_employee');#}
{#                      employeeSelect.empty();#}
{#                      $.each(data, function(key, value) {#}
{#                        employeeSelect.append($('<option></option>').attr('value', value.id).text(value.name));#}
{#                      });#}
{#                event_list.html("<th>l.p.</th><th>Tytuł</th><th>Rozpoczęcie</th><th>Zakończenie</th><th>Salon</th><th>Pracownik</th>");#}
{#                $.each(data, function(index, event) {#}
{#                    var event_html = '<tr>' + '<td>' + event.salon_id + '</td>' + '<td>' + event.title +'</td>' + '<td>' + event.start_time + '</td>' + '<td>' + event.end_time + '</td>' + '<td>' + event.salon + '</td>' +  '<td>' + event.employee + '</td>' + '</tr>';#}
{#                    event_list.append(event_html);#}
{#                });#}
{#            }#}
{##}
{#        });#}
{#    });#}
{##}
{#});#}


        </script>
{% endblock content %}