{% extends 'base.html' %}

{% block title %}
Event
{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow"><h1>Wydarzenie</h1></div>
</div>

<div class="widget-container">
    <div class="widget">
        <a class="btn" href="{% url 'cal:calendar' %}">Powrót</a>
    </div>
</div>

<div class="widget-container-clos-2">
    <div class="widget white-bg">
        <form id="event-form" method="post" class="form">
          {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn"> Zapisz </button>
        </form>
    </div>
    <div class="widget white-bg">
        <div class="widget white-bg box-shadow">
            <div class="table-responsive-container">
                <table class="table table-text-align-center min-width-100" id="event-list">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}

<script>
class eventForm {
    constructor(form_id) {
        this.form = document.getElementById(form_id)
        this.setupView()
    }
    getURIParam(key){
        const urlParams = new URLSearchParams(window.location.search)
        return urlParams.get(key)
    }
    setupView(){
        this.form.querySelector('[id="id_day"]').value = this.getURIParam('day')
        this.form.querySelector('[id="id_salon"]').value = this.getURIParam('salon_id')
    }
    getEmployees() {
        const salonId = $('#id_salon').val()
        const employeeSelect = $('#id_employee')
        if (salonId && salonId !== 'none') {
            $.ajax({
                url: '/get_employees/',
                data: {
                    'salon_id': salonId
                },
                dataType: 'json',
                success: function (data) {
                    employeeSelect.empty()
                    $.each(data, function (key, value) {
                        employeeSelect.append($('<option></option>').attr('value', value.id).text(value.name))
                    });
                    employeeSelect.append($('<option></option>').attr('value', 'none').text('brak'))

                    if (event_form.hard === true){
                        const employee_id = new URLSearchParams(window.location.search).get('employee_id')
                        if (employee_id !== ''){
                            event_form.form.querySelector('[id="id_employee"]').value = employee_id
                        }
                    }
                    event_form.showEvents()
                }
            })
        }
    }
    showEvents() {
        const selected_day = $('#id_day').val()
        const selected_employee = $('#id_employee').val()
        const selected_salon = $('#id_salon').val()
        $.ajax({
            url: '/get_events_at_day/',
            data: {
                'day': selected_day,
                'employee': selected_employee,
                'salon': selected_salon,
            },
            dataType: 'json',
            success: function(data) {
                const event_list = $('#event-list')
                event_list.empty();
                if (data) {
                    event_list.html("<th>Tytuł</th><th>Rozpoczęcie</th><th>Zakończenie</th><th>Salon</th><th>Pracownik</th>")
                } else {
                    event_list.empty()
                }
                $.each(data, function(index, event) {
                    let event_html = '<tr>' + '<td>' + event.title +'</td>' + '<td>' + event.start_time + '</td>' + '<td>' + event.end_time + '</td>' + '<td>' + event.salon + '</td>' +  '<td>' + event.employee + '</td>' + '</tr>';
                    event_list.append(event_html)
                })
            }
        })
    }
}

const event_form = new eventForm('event-form')

$(document).ready(function () {
event_form.getEmployees()

    $('#id_salon').change(function () {
        console.log('Zmiana salonu')
        event_form.getEmployees()
    })

    $('#id_employee').change(function () {
        console.log('Zmiana pracownika')
        event_form.showEvents()
    })

    $('#id_day').change(function() {
        console.log('Zmiana dnia')
        event_form.showEvents()
    })
})
</script>
{% endblock %}
