{% extends 'base.html' %}
{% block title %}Salony{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Salony</h1>
    </div>
</div>

<div class="widget-container-clos-2">
{%  if user.is_superuser %}
    <div class="widget white-bg">
        <form method="post">
            <table>{{ form }}</table>
            {% csrf_token %}
            <input type="submit" value="Dodaj salon">
        </form>
    </div>
{% endif %}

    <div class="widget white-bg">
        <div class="table-responsive-container">
        <table class="table">
            <tr>
                <th>Nazwa</th>
                <th>Miasto</th>
                <th>Adres</th>
            </tr>
            {% for salon in salons %}
            <tr>
                <td>{{ salon.name }}</td>
                <td>{{ salon.city }}</td>
                <td>{{ salon.address }}</td>
                <td>
                    <a href="{% url 'salon:detail' salon.pk %}">Info</a>
                    {% if user.is_superuser %}|
                    <a href="{% url 'salon:delete' salon.pk %}">Usuń</a>|
                    <a href="{% url 'salon:update' salon.pk %}">Zmień</a>|
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Obecnie nie ma żadnych salonów...</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</div>



{% endblock %}
