{% extends 'base.html' %}
{% block title %}Czy na pewno chcesz usunąć salon?{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Czy na pewno chcesz usunąć salon - {{ salon.name }}?</h1>
        <form method="post">
            {% csrf_token %}
            <button class="btn">Tak, na pewno</button>
            <a class="btn btn-info left" href="{% url 'salon' %}"><button class="btn">Nie, wróć do listy salonów</button></a>
        </form>
    </div>
</div>
{% endblock %}
