{% extends 'base.html' %}

{% block title %} Salon {% endblock title %}

{% block header %} Salon {% endblock header %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Salon {{ object.name }}</h1>
    </div>
</div>
<div class="widget-container">
    <div class="widget">
        {% if user.is_superuser %}
            <a class="btn" href="{% url 'salon:delete' salon.pk %}">Usuń</a>
            <a class="btn" href="{% url 'salon:update' salon.pk %}">Zmień</a>
        {% endif %}
    </div>
</div>
<div class="widget-container-clos-2">
    <div class="widget white-bg box-shadow">
        <h2>Adres</h2>
        <p>{{ object.city }} {{ object.address }}</p>

        <h2>Informacje</h2>
        <p>{{ object.details }}</p>
    </div>

    <div class="widget white-bg box-shadow">
        <h2>Pracownicy</h2>
        <div class="table-responsive-container">
            <table class="table table-text-align-center min-width-100">
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Data przyjęcia</th>
                    <th>Salon</th>
                    {% if user.is_superuser %}
                    <th>Opcje</th>
                    {% endif %}
                </tr>
                {% for employee in object.employees.all %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.surname }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.date_joined }}</td>
                    <td>{{ employee.salon }}</td>
                    {% if user.is_superuser %}
                        <td><a href="{% url 'users:delete' employee.pk %}"><button class="btn" style="min-width: 60px">Usuń</button></a>
                        <a href="{% url 'users:update' employee.pk %}"><button class="btn" style="min-width: 60px">Edytuj</button></a></td>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
