@import "variables";

.table {
  border-collapse: collapse;
  max-width: 100%;
  white-space: nowrap;

  th, td {
    padding: 4px;
    vertical-align: center;

    .btn {
      margin-bottom: 0;
    }
  }

  th {
    background-color: $gray2;
    color: #fff;
    border: 1px solid #000;
  }
  td {
    border: 1px solid $gray2;
    background-color: #fff;
  }

}

.table-text-align-center {
  tr, th {
    text-align: center;
  }
}

.table-responsive-container {
  overflow-x: auto;
  max-width: 100%;
}