@import "variables";

// modifikators
.icon {
  display: inline-block;
  height: 20px;
}

.helptext, .errorlist {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 0.8em;
}

.helptext {
  background-color: $gray1;
}

.errorlist {
  background-color: $red;
  color: #ffffff;
}

// display
.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

// size
.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

.min-width-100 {
  min-width: 100%;
}

.min-width-75 {
  min-width: 75%;
}

// Paddings

// medium
.pd-m {
  padding: 10px;
}

.pd-r-m {
  padding-right: 10px;
}

.pd-l-m {
  padding-left: 10px;
}

.pd-t-m {
  padding-top: 10px;
}

.pd-b-m {
  padding-bottom: 10px;
}


.pointer {
  cursor: pointer;
}