{% extends 'base.html' %}

{% block title %}Cennik{% endblock %}

{% block content %}
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Usługi</h1>
    </div>
</div>
<div class="widget-container">
    <div class="widget">
        <a class="btn" href="{% url 'prices:create' %}">Dodaj</a>
    </div>
</div>
<div class="widget-container">
    <div class="widget white-bg box-shadow">
        <h1>Cennik</h1>
        <div class="table-responsive-container">
            <table class="table min-width-75 table-text-align-center">
                    <tbody>
                    <tr>
                        <th>Nazwa</th>
                        <th>Cena</th>
                        <th>Czas trwania</th>
                        <th>Edycja</th>
                    </tr>
                    {% for event in object_list %}
                    <tr>
                        <td>{{ event.event_name }}</td>
                        <td>{{ event.price }}</td>
                        <td>{{ event.duration }}</td>
                        <td><a href="{% url 'prices:delete' event.pk %}"><button class="btn" style="min-width: 50px">Usuń</button></a>
                        <a href="{% url 'prices:update' event.pk %}"><button class="btn" style="min-width: 50px">Edytuj</button></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </tbody>
        </div>
    </div>
</div>
{% endblock %}